target/
logs/
*.log

*.class

.idea/
*.iml
out/

.vscode/

.Trash-*

Thumbs.db
desktop.ini

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

*.war
*.jar
*.swp
*.swo

.env
*.local

!src/main/resources/**
